@model MVCOnlineCommercialAutomation.Models.Classes.Employee
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* Stil Kodları */
    .custom-label {
        display: inline-block;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="file"] {
        display: none;
    }
</style>

<br />
<h2>New Employee Page</h2>
<br />
@using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.EmployeeName)
        @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.EmployeeSurname)
        @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.EmployeeImage)
        @*@Html.TextBoxFor(x => x.EmployeeImage, new { @class = "form-control" })*@
        @*<input type="file" name="EmployeeImage"/>*@
        <label class="custom-label" for="EmployeeImage">Select File</label>
        <input class="custom-label" name="EmployeeImage" type="file" id="EmployeeImage" />
        <br />
        @Html.LabelFor(x => x.Department)
        @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.val1, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Save</button>
    </form>
}


