@model MVCOnlineCommercialAutomation.Models.Classes.Customer
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>New Customer Page</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.CustomerName)
    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CustomerSurname)
    @Html.TextBoxFor(x => x.CustomerSurname, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CustomerCity)
    @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CustomerEmail)
    @Html.TextBoxFor(x => x.CustomerEmail, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save</button>
</form>

