@using MVCOnlineCommercialAutomation.Models.Classes
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).on('click', '#btn', function (e) {
        e.preventDefault();
        swal({
            title: "Are you sure?",
            text: "Once you delete this record, you cannot get it back!",
            icon: "warning",
            buttons: ["Cancel", "Delete"],
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                } else {
                    swal("Your record is safe!");
                }
            });
    });
</script>

<br />
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Product Name : @Html.TextBox("parameter")
        <input type="submit" value="search" />
    </p>
}

<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        <th>Product Name</th>
        <th>Brand</th>
        <th>Stock</th>
        <th>Purchase Price</th>
        <th>Sale Price</th>
        <th>Category</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Make Sales</th>

    </tr>
    @foreach (var p in Model)
    {

        <tr>
            <td>@p.ProductName</td>
            <td>@p.Brand</td>
            <td>@p.Stock</td>
            <td>@p.PurchasePrice $</td>
            <td>@p.SellingePrice $</td>
            <td>@p.Category.CategoryName</td>
            <td><a href="/Product/DeleteProduct/@p.ProductId" class="btn btn-danger" id="btn">Delete</a></td>
            <td><a href="/Product/GetProduct/@p.ProductId" class="btn btn-info">Update</a></td>
            <td><a href="/Product/MakeSalesProduct/@p.ProductId" class="btn btn-default" style="background-color:thistle">Make Sales</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})



<a href="/Product/AddProduct" class="btn btn-primary"> Add Product</a>