@using MVCOnlineCommercialAutomation.Models.Classes
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
         Product Name : @Html.TextBox("parameter")
        <input type="submit" value="search" />
    </p>
}

<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        <th>Product Name</th>
        <th>Brand</th>
        <th>Stock</th>
        <th>Purchase Price</th>
        <th>Sale Price</th>
        <th>Category</th>
        <th>Delete</th>
        <th>Update</th>

    </tr>
    @foreach (var p in Model)
    {

        <tr>
            <td>@p.ProductName</td>
            <td>@p.Brand</td>
            <td>@p.Stock</td>
            <td>@p.PurchasePrice $</td>
            <td>@p.SellingePrice $</td>
            <td>@p.Category.CategoryName</td>
            <td><a href="/Product/DeleteProduct/@p.ProductId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Product/GetProduct/@p.ProductId" class="btn btn-info">Update</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

<a href="/Product/AddProduct" class="btn btn-primary"> Add Product</a>