@using MVCOnlineCommercialAutomation.Models.Classes
@model List<SaleTransaction>
@{
    ViewBag.Title = "DetailSaleTransaction";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Sale Details</h2>
<br />

<table class="table table-condensed">
    <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Customer</th>
        <th>Employee</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Date</th>
        <th>Print</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SaleTransactionId</td>
            <td>@x.Product.ProductName</td>
            <td>@x.Customer.CustomerName @x.Customer.CustomerSurname</td>
            <td>@x.Employee.EmployeeName @x.Employee.EmployeeSurname</td>
            <td>@x.Price</td>
            <td>@x.Quantity</td>
            <td>@x.TotalAmount</td>
            <td>@x.SaleTransactionDate</td>
        </tr>
    }
</table>
<button class="btn btn-default" style="background-color: darkslateblue; color: white;">Print</a></button>
