@model MVCOnlineCommercialAutomation.Models.Classes.InvoiceItem
@{
    ViewBag.Title = "AddInvoiceItem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>New Invoice Items</h2>
<br />
<form class="form-group" method="post">
    @Html.HiddenFor(x => x.InvoiceItemId)
    @Html.LabelFor(x => x.Explanation)
    @Html.TextBoxFor(x => x.Explanation, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Quantity)
    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.UnitPrice)
    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.InvoiceId)
    @Html.TextBoxFor(x => x.InvoiceId, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save</button>
</form>

