@using MVCOnlineCommercialAutomation.Models.Classes
@model List<Customer>
<div class="row"
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Customer Hover Table</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>City</th>
                            <th>E-Mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                        <tr>
                            <td>@x.CustomerId</td>
                            <td>@x.CustomerName</td>
                            <td>@x.CustomerSurname</td>
                            <td>@x.CustomerCity</td>
                            <td>@x.CustomerEmail</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>